@model System.String
@{
    ViewBag.Title = "Помощ, въпроси и отговори";
}

<script type="text/javascript">

    @if (!String.IsNullOrWhiteSpace(Model))
    {
        <text>
        $(document).ready(function () {
            @if (Model.ToLower() == "question_1.1")
            {
                <text>
                $('#question_1_header').addClass("section-heading opened");
                $('#question_1_section').css('display', 'block');

                $('html, body').animate({
                    scrollTop: $("#question_1_header").offset().top
                }, 500);
                </text>
            }
            else
            {
                <text>
                $('html, body').animate({
                    scrollTop: $('@(String.Format("#{0}", Model))').offset().top
                }, 500);
                </text>

            }
        });
        </text>
    }

</script>

<div class="container main-content">
    <h1>Помощ, въпроси и отговори</h1>
    <h2>Единната входна точка за електронни плащания в централната и местната администрация</h2>

    <h3 id="service_desc">Какво представлява Единната входна точка за електронни плащания за централната и местната администрация (https://pay.egov.bg/) (Системата еПлащане)?</h3>
    </br>
    <p style="text-align: justify;">
        Системата еПлащане регистрира всички електронни плащания, свързани с предоставяне на електронни административни услуги и други публичноправни задължения, като осигурява възможност за плащането им по избран от потребителите (гражданите и бизнеса) начин.
        Това е възможно чрез свързването на всички доставчици на електронни административни услуги (ДЕАУ) в Системата еПлащане. Когато потребител заяви електронна услуга в портала на дадена администрация, в Системата еПлащане се създава и регистрира електронна заявка за плащане.
        След успешно заплащане на задължението по заявената услуга, Системата еПлащане изпраща статус за успешно плащане към доставчика на услугата и това е достатъчно условие за безпрепятствено предоставяне на услугата.
    </p>
    <p style="text-align: justify;">Системата е посредник при обмена на информация между участниците в нея, свързана със заявени задължения и техния статус.</p>
    </p>

    <h3>Функционалности на Системата еПлащане</h3>
    </br>

    <p style="text-align: justify;">
        Системата еПлащане осигурява лесен, сигурен и проследим начин за заявяване на задължение от лица по чл.1 ал.1 и ал.2 от ЗЕУ в профила на задълженото лице,
        което от своя страна може да заплати дължимата сума чрез доставчик на платежни услуги по смисъла на Закона за платежните услуги и платежните системи (ЗПУПС).
        Участници в системата са заявителите на задължения, задължените лица, доставчиците на платежни услуги и Министерство на електронното управление.
    </p>
    <p style="text-align: justify;">Системата поддържа профили на всеки един от участниците, като предоставя информация за извършени плащания за всеки един участник. </br></p>
    <p style="text-align: justify;">
        В Системата се инициират и заплащат задължения, включително свързани с предоставяне на електронни административни услуги.
        Същата предоставя централизирана точка, чрез която да е налична информация за всички задължения и техния статус (заявено, успешно плащане и т.н.),
        възможност на задължените лица да бъдат информирани и да предприемат действия по заплащане на задълженията, възможност за избор на начин на плащане на задължение.
        </br>
    </p>
    <p style="text-align: justify;">Текущата Система еПлащане поддържа следните функционалности:</p>
    <ul class="ticks">
        <li> идентифициране с утвърдено средство за електронна идентификация, чрез интеграция със системата за еАвтентикация версия 2.0;</li>
        <li> информация за налични задължения, регистрирани в Системата еПлащане и техния статус;</li>
        <li> заявяване на задължение от присъединени към системата лица по чл.1 ал.1 и ал.2 от ЗЕУ;</li>
        <li> информация за дължими данъци и други публичноправни задължения и плащането им по електронен път;</li>
        <li> извеждане на информация за налични задължения за фиш/ електронен фиш/ наказателно постановление на физическо лице и възможност за електронно плащане на регистрирани нарушения по Закона за движението по пътищата;</li>
        <li> генериране на Код за плащане за директен вход;</li>
        <li>
            предоставяне на възможност за заплащане на едно или няколко задължения, използвайки Централен виртуален ПОС терминал (ЦВПОС) <b>без такси и комисиони</b>, както за заявителя на задължението, така и за гражданите.
            ЦВПОС терминала се поддържа от МЕУ;
        </li>
        <li> заплащане на суми от предоставяни от посредник ЕАУ и разпределяне на сумите към съответните администрации;</li>
    </ul>
    <p style="text-align: justify;">
        С интеграцията на системата е осигурена възможност за заплащане на суми през Централен Виртуален ПОС и банкова сметка на МЕУ и последващо преразпределение на постъпилите суми по банковата сметка към банковите сметки на заявителя на задължението.</br>
        </br>

    <p style="text-align: justify;">За допълнителна информация:</p>
    <p style="text-align: justify; padding-left: 30px;">
        @Html.ActionLink("Администрации, включени в Системата еПлащане", MVC.Home.ActionNames.Departments, MVC.Home.Name, null, new { style = "color: #0097e5; text-decoration: none" })<br />
        @Html.ActionLink("Генериране на Код за плащане и вход с него", MVC.Home.ActionNames.Help, MVC.Home.Name, new { focus = "access_code" }, new { style = "color: #0097e5; text-decoration: none" })
    </p>


    <h3 id="payment_methods">Начини на плащане, осигурени от Системата еПлащане</h3>
    </br>
    <p style="text-align: justify;"> </p>
    <p style="text-align: justify;">
        Електронните административни услуги могат да бъдат заплатени по следните начини:
        <ul class="ticks">
            <li>
                заплащане на едно или няколко задължения, използвайки Централен виртуален ПОС терминал (ЦВПОС) <b>без такси и комисиони</b>,
                както за заявителя на задължението, така и за гражданите.
            </li>
            <li>кредитна или дебитна карта през виртуален ПОС терминал на банка, с която доставчика на ЕАУ има сключен договор. Дължат се такси и комисиони, съгласно тарифите на банките.</li>
            <li>плащане чрез ePay. Дължат се такси и комисиони, съгласно тарифите на доставчика.</li>
        </ul>
    </p>
    <p style="text-align: justify;">Възможните начини на плащане за всяка заявена административна услуга се визуализират в поле "Плащане" срещу всяко задължение.</p>
    <p style="text-align: justify;"><b>За реализацията на всеки един от горепосочените начини е задължително доставчика на ЕАУ да е свързан със Системата за електронни плащания.</b></p>
    <p style="text-align: justify;">
        Дължими данъци и такси и други публичноправни задължения, както и задълженията за фиш/ електронен фиш/ наказателно постановление на физическо лице
        се заплащат през Централен виртуален ПОС терминал (ЦВПОС) <b>за тях не се дължат такси и комисиони, както от гражданите, така и от администрациите.</b>
    </p>
    <p style="text-align: justify;">Информация, относно участниците в Системата еПлащане може да видите:</p>

    <p style="text-align: justify; padding-left: 30px;">
        @Html.ActionLink("Администрации, включени в Системата еПлащане", MVC.Home.ActionNames.Departments, MVC.Home.Name, null, new { style = "color: #0097e5; text-decoration: none" })<br />
</p>


<h3 id="access_code">Генериране на Код за плащане и вход с него</h3>
	</br>
<p style="text-align: justify;">Функционалността "Код за плащане" се отнася за електронни услуги.</p>
<p style="text-align: justify;">
    Функционалността "Код за плащане" позволява да се влезе в системата без квалифициран електронен подпис и да се достъпи информация и/или да се заплати конкретното задължение,
    за което се отнася кодът, от произволно лице. "Код за плащане" се отнася само за електронни услуги.
</p>
<p style="text-align: justify;">
    Функционалността е удобна за случаи, в които
    <ul class="ticks">
        <li>потребителят иска да предостави възможността на някой друг да влезе в Портала, да види и да заплати конкретното задължение, без да може да вижда останалите му задължения. </li>
        <li>потребителят може да предостави този код на друго лице, което да извърши плащането от негово име. </li>
        <li>
            потребителят иска по-късно да влезе в Системата и да види и/или заплати конкретно задължение без квалифициран електронен подпис (КЕП)
            - например от мобилен телефон, поради съществуващите технически ограничения за използване на КЕП от мобилни устройства.
</p></li>
		</ul>
<p style="text-align: justify;">
    Системата предоставя функционалност за:
    <ul class="ticks">
        <li>генериране на нов код;</li>
        <li>преглед и копиране на хипервръзката, с която може да се достъпи системата директно и кодът, свързан с конкретното задължение за плащане;</li>
        <li>изпращане на посочен от потребителя произволен адрес на електронна поща хипервръзка за директен достъп до системата и конкретно задължение, както и самият Код за плащане по това задължение;</li>
    </ul>
</p>
<p style="text-align: justify;">Ако кодът бъде генериран наново, то старият вече няма да може да се използва, като междувременно, ако потребителя го е дал на някой, ще е необходимо да му изпрати новия Код за плащане повторно.</p>
<p style="text-align: justify;">При регистрацията на всяка заявка за плащане в Средата от административна информационна система (АИС) на администрацията, настоящата система генерира автоматично Код за плащане и го връща на АИС, така, че потребителят може да получи Код за плащане и от самия АИС, а не от настоящата система и с него да достъпи конкретното задължение без КЕП, например от мобилен телефон.</p>
<p style="text-align: justify;">Кодът е десет символен, състоящ се от цифри и латински букви. </p>

<h3 id="access_code">Заплащане на едно или няколко задължения, използвайки Централен виртуален ПОС терминал (ЦВПОС)</h3>
	</br>
<p style="text-align: justify;">
    Системата предоставя възможност за заплащане на едно или няколко задължения, използвайки Централен виртуален ПОС терминал (ЦВПОС) <b>без такси и комисиони</b>,
    както за заявителя на задължението, така и за гражданите.
</p>
<p style="text-align: justify;">
    Системата предоставя възможност за „Извличане на справка за дължими данъци и други публичноправни задължения и плащането им по електронен път чрез Централен Виртуален ПОС терминал“.
    Чрез тази функционалност, при автентикиране на потребителя в Портала на електронното управление в секция задължения за местни данъци и такси (МДТ), се стартира процес по запитване на всички присъединени към МДТ общини
    за налични задължения по единния граждански номер (ЕГН) на потребителя. Като отговор на запитването, системата предоставя информация за всички налични задължения за данъци и такси,
    подредени съгласно алгоритъм по Данъчно-осигурителен процесуален кодекс (ДОПК) "От старо към ново" (невъзможност за заплащане на нови задължения, при наличие на стари задължения).
    На потребителя се предоставя възможност да заплати избраните задължения чрез Централния виртуален ПОС терминал (ЦВПОС), с което не се дължат такси и комисионни.
</p>
<p style="text-align: justify;">
    За присъединяването към тази функционалност е необходимо общинската администрация да попълни и изпрати заявление за присъединяване и
    да бъде присъединена към функционалността "Централен Виртуален ПОС терминал".
</p>





<h3>Сигурност и лични данни</h3>
	</br>
<p style="text-align: justify;">Личните данни от електронните платежни нареждания в системата се пазят в криптиран вид, а достъпът до тях от потребителите през портала се осъществява единствено с квалифициран електронен подпис.</p>
<p style="text-align: justify;">При съмнение за осъществен неправомерен достъп до Вашите данни, може да се обърнете към Министерство на електронното управление за допълнителна справка или да поддадете сигнал за проверка чрез формата за @Html.ActionLink("Обратна връзка", MVC.Home.ActionNames.Feedback, MVC.Home.Name, null, new { style = "color: #0097e5; text-decoration: none" }).</p>

<h3>Технически изисквания</h3>
	</br>
<p style="text-align: justify;">За правилната работа на системата е необходимо в браузъра да е разрешено изпълнението на JavaScript. За подробности относно включването и изключването на тази функционалност вижте потребителската документация на използвания от Вас браузър.</p>
<p style="text-align: justify;">
    Системата за електронни плащания е разработена и тествана за работа със следните видове браузъри:
    <ul class="browsers">
        <li><a href="http://www.mozilla.org/bg/firefox/new/" target="_blank" style="color: #0097e5; text-decoration: none"><img src="@Links.Content.images.icons.browsers.firefox_jpg" alt="">Mozilla Firefox 10-17 или по-нов;</a></li>
        <li><a href="https://www.google.com/intl/bg/chrome/browser/" target="_blank" style="color: #0097e5; text-decoration: none"><img src="@Links.Content.images.icons.browsers.chrome_jpg" alt="">Google Chrome 17-23 или по-нов;</a></li>
        <li><a href="https://www.apple.com/safari/" target="_blank" style="color: #0097e5; text-decoration: none"><img src="@Links.Content.images.icons.browsers.safari_jpg" alt="">Safari 5 или по-нов;</a></li>
        <li><a href="http://www.opera.com/bg/computer/windows" target="_blank" style="color: #0097e5; text-decoration: none"><img src="@Links.Content.images.icons.browsers.opera_jpg" alt="">Opera 11 или по-нов;</a></li>
    </ul>
</p>
<p style="text-align: justify;">В момента по наши наблюдения от проведените тестове системата работи с всички браузъри.</p>
<p style="text-align: justify;">Препоръката ни е винаги да се стремите да използвате съвременни компютри, както и винаги да работите с последна актуална версия на използвания от Вас браузър.</p>

<h2>Въпроси и отговори</h2>
<div class="help-questions">
    <h3 data-section="1" class="section-heading" id="question_1_header">
        <img class="arrow" src="@Links.Content.images.icons.faq_arrow_png" alt="">
        1. Потребители и вход в системата
    </h3>
    <section data-section="1" class="clearfix" id="question_1_section">
        <h4 data-section="1-1" class="section-heading">
            <img class="arrow" src="@Links.Content.images.icons.faq_arrow_png" alt="">
            1.1. Как да вляза в системата?
        </h4>
        <section data-section="1-1" class="clearfix">
            <p style="text-align: justify;">
                Входът в системата е възможен единствено чрез квалифициран електронен подпис, Код за плащане или след пренасочване в автоматичен режим от някоя друга информационна система на администрацията.
            </p>
            <p style="text-align: justify;">
                <b>Не се предоставя вход в системата с потребителско име и парола.</b>
            </p>
        </section>

        <h4 data-section="1-2" class="section-heading">
            <img class="arrow" src="@Links.Content.images.icons.faq_arrow_png" alt="">
            1.2. Как да се сдобия с квалифициран електронен подпис?
        </h4>
        <section data-section="1-2" class="clearfix">
            <p style="text-align: justify;">
                Комисията за регулиране на съобщенията поддържа <a href="http://www.crc.bg/section.php?id=182" target="_blank" style="color: #0097e5; text-decoration: none">Регистър на доставчиците на удостоверителни услуги, издаващи удостоверения за квалифициран електронен подпис (КЕП)</a>. Можете да си закупите и извадите КЕП от произволен доставчик.
            </p>
        </section>
    </section>
    <div class="section-separator"> </div>

    <h3 data-section="2" class="section-heading">
        <img class="arrow" src="@Links.Content.images.icons.faq_arrow_png" alt="">
        2. Банки и администрации, свързани  със  Средата за електронни плащания
    </h3>
    <section data-section="2" class="clearfix">
        <h4 data-section="2-1" class="section-heading">
            <img class="arrow" src="@Links.Content.images.icons.faq_arrow_png" alt="">
            2.1. Кои са включените администрации?
        </h4>
        <section data-section="2-1" class="clearfix">
            <p style="text-align: justify;">
                Чрез Средата за електронни плащания може да извършите плащане към всеки един от доставчиците на електронни административни услуги, които вече са се свързали с нея. Възможно е обаче някоя администрация да не позволява плащане на всички свои електронни услуги през Средата. Информация за включените към момента доставчици може да намерите във @Html.ActionLink("Включени в Средата администрации", MVC.Home.ActionNames.Departments, MVC.Home.Name, null, new { style = "color: #0097e5; text-decoration: none" }).
            </p>
        </section>

        <h4 data-section="2-2" class="section-heading">
            <img class="arrow" src="@Links.Content.images.icons.faq_arrow_png" alt="">
            2.2. Кои доставчици на платежни услуги са включени към Средата?
        </h4>
        <section data-section="2-2" class="clearfix">
            <p style="text-align: justify;">
                Информация за доставчиците на платежни услуги, които вече са се свързали със Средата за електронни плащания, може да намерите във @Html.ActionLink("Включени в Средата доставчици на платежни услуги", MVC.Home.ActionNames.BanksInfo, MVC.Home.Name, null, new { style = "color: #0097e5; text-decoration: none" }).
            </p>
        </section>
    </section>
    <div class="section-separator"> </div>

    <h3 data-section="3" class="section-heading">
        <img class="arrow" src="@Links.Content.images.icons.faq_arrow_png" alt="">
        3. Въпроси, свързани с работата със системата
    </h3>
    <section data-section="3" class="clearfix">
        <h4 data-section="3-1" class="section-heading">
            <img class="arrow" src="@Links.Content.images.icons.faq_arrow_png" alt="">
            3.1. Защо някои функционалности в системата не работят?
        </h4>
        <section data-section="3-1" class="clearfix">
            <p style="text-align: justify;">
                За правилната работа на системата е необходимо в браузъра да е разрешено изпълнението на JavaScript. За подробности относно включването и изключването на тази функционалност вижте потребителската документация на използвания от Вас браузър.
            </p>
        </section>

        <h4 data-section="3-2" class="section-heading">
            <img class="arrow" src="@Links.Content.images.icons.faq_arrow_png" alt="">
            3.2. Кой браузър да използвам, за да работя със системата?
        </h4>
        <section data-section="3-2" class="clearfix">
            <p style="text-align: justify;">
                Системата е разработена и тествана за работа със следните видове браузъри:
                <ul class="browsers">
                    <li><a href="http://windows.microsoft.com/bg-bg/internet-explorer/ie-9-worldwide-languages" target="_blank" style="color: #0097e5; text-decoration: none"><img src="@Links.Content.images.icons.browsers.ie_jpg" alt="">Microsoft Internet Explorer 7-9 или по-нов;</a></li>
                    <li><a href="http://www.mozilla.org/bg/firefox/new/" target="_blank" style="color: #0097e5; text-decoration: none"><img src="@Links.Content.images.icons.browsers.firefox_jpg" alt="">Mozilla Firefox 10-17 или по-нов;</a></li>
                    <li><a href="https://www.google.com/intl/bg/chrome/browser/" target="_blank" style="color: #0097e5; text-decoration: none"><img src="@Links.Content.images.icons.browsers.chrome_jpg" alt="">Google Chrome 17-23 или по-нов;</a></li>
                    <li><a href="https://www.apple.com/safari/" target="_blank" style="color: #0097e5; text-decoration: none"><img src="@Links.Content.images.icons.browsers.safari_jpg" alt="">Safari 5 или по-нов;</a></li>
                    <li><a href="http://www.opera.com/bg/computer/windows" target="_blank" style="color: #0097e5; text-decoration: none"><img src="@Links.Content.images.icons.browsers.opera_jpg" alt="">Opera 11 или по-нов;</a></li>
                </ul>
            </p>
            <p style="text-align: justify;">В момента по наши наблюдения от проведените тестове, системата работи с всички браузъри, но най-добре с <a href="https://www.google.com/intl/bg/chrome/browser/" target="_blank" style="color: #0097e5; text-decoration: none">Google Chrome</a></p>
            <p style="text-align: justify;">Препоръката ни е винаги да се стремите да използвате съвременни компютри, както и винаги да работите с последна актуална версия на използвания от Вас браузър.</p>
        </section>
    </section>
</div>
</div>
<!-- -->
